
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>学生在线考试系统</title>
</head>

  <frameset rows="50,*" cols="*" frameborder="no" border="0" framespacing="0">
  <frame src="/top/" name="topFrame" scrolling="no"  id="topFrame" title="topFrame" />
   <frameset cols="200,*" frameborder="no" border="0" framespacing="0" scrolling="auto" id="frame"> 
    <frame src="/left/" name="leftFrame" scrolling="no"  id="leftFrame" title="leftFrame" />
       <frameset  frameborder="no" border="0" framespacing="0" scrolling="auto"> 
    <frame src="/chart/" name="mainFrame" id="mainFrame" title="mainFrame" />
  </frameset></frameset></frameset>
<noframes><body><a href="/logout/" >退出登录</a>
</body></noframes>
</html>

