@charset "UTF-8"; /* em-base */ /* Height */ /* Font Size */ /* Padding */ /* Border Radius */ /* Brand Colors */ /* Gray Colors */ /* Base Colors */ /* Shadow */ /* dropdown */ /* Dimensions */ /* Colors */ /* Form Control Item */ /* Font Family */ /* 衬线字体 */ /* 非衬线字体 */
.ux-tip {
    display: inline-block;
    font-size: 12px;
    padding: 0 6px;
    border-radius: 2px;
}

.ux-tip > .ux-icon {
    border-radius: 50%;
    padding: 2px;
    margin-right: 2px;
}

.ux-tip-info {
    color: #00c0ef;
}

.ux-tip-info > .ux-icon {
    color: #e6f9fd;
    background-color: #00c0ef;
}

.ux-tip-success {
    color: #8bb721;
}

.ux-tip-success > .ux-icon {
    color: #f3f8e9;
    background-color: #8bb721;
}

.ux-tip-warning {
    color: #ff5500;
}

.ux-tip-warning > .ux-icon {
    color: #ffeee6;
    background-color: #ff5500;
}

.ux-tip-error {
    color: #ff513a;
}

.ux-tip-error > .ux-icon {
    color: white;
    background-color: #ff513a;
}

.ux-tip-error {
    font-family: 'ux-icon-edu' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
    padding: 0 6px;
    border-radius: 2px;
}

.ux-tip-error:before {
    content: "\e941";
    color: white;
    background-color: #ff513a;
    border-radius: 50%;
    padding: 2px;
    margin-right: 2px;
}

.ux-input.ux-input_success, .ux-select.ux-select_success, .ux-textarea.ux-textarea_success {
    color: #555 !important;
    border-color: #e4e8e9 !important;
}

@charset "UTF-8"; /* em-base */ /* Height */ /* Font Size */ /* Padding */ /* Border Radius */ /* Brand Colors */ /* Gray Colors */ /* Base Colors */ /* Shadow */ /* dropdown */ /* Dimensions */ /* Colors */ /* Form Control Item */ /* Font Family */ /* 衬线字体 */ /* 非衬线字体 */
.ux-input2, .ux-textarea2 {
    display: inline-block;
    position: relative;
    white-space: nowrap;
}

.ux-input2_unit, .ux-textarea2_unit {
    position: relative;
    right: 40px;
}

.ux-input2_placeholder, .ux-textarea2_placeholder {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border-left: 1px solid transparent;
}

.ux-input, .ux-input_base, .ux-textarea, .ux-textarea_base {
    padding: 6px 12px;
    border: 1px solid #e4e8e9;
    color: #555;
    background: white;
    border-radius: 2px;
}

.ux-input::-webkit-input-placeholder, .ux-input_base::-webkit-input-placeholder, .ux-textarea::-webkit-input-placeholder, .ux-textarea_base::-webkit-input-placeholder {
    color: #bbb;
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}

.ux-input::-moz-placeholder, .ux-input_base::-moz-placeholder, .ux-textarea::-moz-placeholder, .ux-textarea_base::-moz-placeholder {
    color: #bbb;
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}

.ux-input:-moz-placeholder, .ux-input_base:-moz-placeholder, .ux-textarea:-moz-placeholder, .ux-textarea_base:-moz-placeholder {
    color: #bbb;
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}

.ux-input:-ms-input-placeholder, .ux-input_base:-ms-input-placeholder, .ux-textarea:-ms-input-placeholder, .ux-textarea_base:-ms-input-placeholder {
    color: #bbb;
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}

.ux-input:focus, .ux-input_base:focus, .ux-textarea:focus, .ux-textarea_base:focus {
    background: white;
    color: #343d42;
    -webkit-box-shadow: 1px 1px 10px #E4F9E5;
    -moz-box-shadow: 1px 1px 10px #E4F9E5;
    box-shadow: 1px 1px 10px #E4F9E5;
}

.ux-input:disabled, .ux-input_base:disabled, .ux-textarea:disabled, .ux-textarea_base:disabled {
    background: #eee;
    color: #999;
    border-color: #e4e8e9;
    cursor: not-allowed;
}

.ux-input_base {
    padding: 6px 12px;
    height: 34px;
    font-size: 14px;
}

.ux-input_sm {
    padding: 5px 10px;
    height: 22px;
    font-size: 12px;
}

.ux-input_lg {
    padding: 10px 16px;
    height: 40px;
    font-size: 16px;
}

.ux-input_wsm, .ux-textarea_wsm {
    width: 80px;
}

.ux-input_wlg, .ux-textarea_wlg {
    width: 200px;
}

.ux-input_success, .ux-textarea_success {
    color: #8bb721;
    border-color: #8bb721;
}

.ux-input_warning, .ux-textarea_warning {
    color: #ff5500;
    border-color: #ff5500;
}

.ux-input_error, .ux-textarea_error {
    color: #ff513a;
    border-color: #ff513a;
}

.ux-input-blank, .ux-select-blank, .ux-textarea-blank {
    border-color: transparent;
    border-style: dashed;
    background: none;
}

.ux-input-blank:focus, .ux-select-blank:focus, .ux-textarea-blank:focus {
    border-color: #ddd;
}

@charset "UTF-8"; /* em-base */ /* Height */ /* Font Size */ /* Padding */ /* Border Radius */ /* Brand Colors */ /* Gray Colors */ /* Base Colors */ /* Shadow */ /* dropdown */ /* Dimensions */ /* Colors */ /* Form Control Item */ /* Font Family */ /* 衬线字体 */ /* 非衬线字体 */
.ux-textarea2 {
    position: relative;
}

.ux-textarea2 .ux-textarea {
    width: 320px;
    height: 120px;
}

.ux-textarea2 .ux-tip-error {
    position: absolute;
    left: -6px;
    bottom: -22px;
}

@charset "UTF-8"; /* em-base */ /* Height */ /* Font Size */ /* Padding */ /* Border Radius */ /* Brand Colors */ /* Gray Colors */ /* Base Colors */ /* Shadow */ /* dropdown */ /* Dimensions */ /* Colors */ /* Form Control Item */ /* Font Family */ /* 衬线字体 */ /* 非衬线字体 */
.ux-radio {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ux-radio .radio_box {
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 2px;
    height: 14px;
    width: 14px;
    line-height: 14px;
    background: white;
    color: #d9ddde;
    border: 1px solid #e4e8e9;
    border-radius: 14px;
}

.ux-radio .radio_box .ux-icon {
    content: '';
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -2px;
    margin-left: -2px;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background: white;
}

/* Selected */
.ux-radio.z-sel .radio_box {
    background: #49AF4F;
    border: 1px solid #49AF4F;
}

.ux-radio.z-sel .radio_box .ux-icon {
    display: inline-block;
}

/* Disabled */
.ux-radio.z-dis {
    cursor: not-allowed;
}

.ux-radio-block {
    display: block;
}

@charset "UTF-8"; /* em-base */ /* Height */ /* Font Size */ /* Padding */ /* Border Radius */ /* Brand Colors */ /* Gray Colors */ /* Base Colors */ /* Shadow */ /* dropdown */ /* Dimensions */ /* Colors */ /* Form Control Item */ /* Font Family */ /* 衬线字体 */ /* 非衬线字体 */
.ux-radio2-group .ux-radio {
    margin-right: 1em;
}

.ux-radio2-group .ux-radio-block {
    margin-bottom: 1em;
}

.auto-1492846128243 {
    width: 620px;
    height: 325px;
    padding: 0 20px 0;
}

.auto-1492846128243 .bread {
    border-bottom: 1px solid #ddd;
    height: 35px;
    line-height: 25px;
    margin: 0 0 15px;
    font-weight: bolder;
}

.auto-1492846128243 .box {
    overflow-y: auto;
    height: 255px;
    padding: 0 15px;
}

.auto-1492846128243 .option {
    display: inline-block;
    width: 133px;
    font-size: 12px;
    margin: 0 8px 8px 0;
    color: #666;
}

.auto-1492846128243 .option:hover {
    color: #10ae58;
}

.profile-image-upload {
    text-align: center;
    position: relative;
    vertical-align: top;
    display: inline-block;
    border-radius: 50%;
    width: 104px;
    height: 104px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("http://mc.stu.126.net/res/images/ui/profile-image.png");
}

.profile-image-upload-btn {
    position: absolute;
    width: 100%;
    height: 26px;
    top: 78px;
    background-image: url("http://mc.stu.126.net/res/images/ui/profile-image-cover.png");
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-size: 12px;
}

.profile-image-upload-btn span {
    margin-top: 2px;
    display: inline-block;
}

.profile-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

@charset "UTF-8"; /* em-base */ /* Height */ /* Font Size */ /* Padding */ /* Border Radius */ /* Brand Colors */ /* Gray Colors */ /* Base Colors */ /* Shadow */ /* dropdown */ /* Dimensions */ /* Colors */ /* Form Control Item */ /* Font Family */ /* 衬线字体 */ /* 非衬线字体 */
.ux-notify {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    z-index: 1040;
    top: 10px;
    left: 10px;
    width: 320px;
    background-color: transparent;
    text-align: center;
}

.ux-notify-topright, .ux-notify-bottomright {
    left: auto;
    right: 10px;
}

.ux-notify-topcenter, .ux-notify-bottomcenter {
    left: 50%;
    margin-left: -160px;
}

.ux-notify-bottomleft, .ux-notify-bottomright, .ux-notify-bottomcenter {
    top: auto;
    bottom: 10px;
}

/* Static */
.ux-notify-static {
    position: static;
    width: auto;
}

.um-message {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1040;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 80%;
    padding: 0.64rem 0.8rem;
    max-height: 3.73333rem;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0.08rem;
    color: #fff;
    font-size: 13px;
}